---
import MainLayout from "../layouts/MainLayout.astro";
import GodRays from "../components/GodRays.astro";
---

<MainLayout bodyClasses={''}>
	<section class="dark">
		<GodRays />
	</section>
</MainLayout>