---
---
<div class="jumbo absolute inset-0 opacity-50"></div>
<style>
    @keyframes jumbo {
        from {
            background-position: 50% 50%, 50% 50%;
        }
        to {
            background-position: 350% 50%, 350% 50%;
        }
    }

    .jumbo {
        --stripes: repeating-linear-gradient(
                100deg,
                #000 0%,
                #000 7%,
                transparent 8%,
                transparent 12%,
                #000 16%
        );
        --rainbow: repeating-linear-gradient(
                100deg,
                #ffffff 10%,
                #000000 15%,
                #ffffff 20%
        );
        background-image: var(--stripes), var(--rainbow);
        background-size: 300%, 200%;
        background-position: 50% 50%, 50% 50%;

        filter: blur(10px) opacity(100%) saturate(200%);

        mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

        pointer-events: none;
    }

    .jumbo::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--stripes), var(--rainbow);
        background-size: 200%, 100%;
        animation: jumbo 60s linear infinite;
        background-attachment: fixed;
        mix-blend-mode: difference;
    }

</style>